py-cord[voice]
# git+https://github.com/Pycord-Development/pycord.git@1c255630e18a640a909284365fcbdf34befa30fd#egg=py-cord[voice]
# git+https://github.com/Pycord-Development/pycord.git@permissions-v2#egg=py-cord[voice]
# git+https://github.com/jab416171/pycord.git#egg=py-cord[voice]
# git+https://github.com/krittick/pycord.git@pages-patch-2#egg=py-cord[voice]
jishaku==2.3.2